﻿
@model CreateBanDTO
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Ban Form";
}

<section class="contact_section">
    <div class="container">
        <div class="row">
             <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h3>
                            Contact Us
                        </h3>
                        <p>
                            It is a long established fact that a reader will be distracted
                            by the readable
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-form">
                    <form asp-action="BanForm" asp-controller ="Ban" id="contact-form">
                        <div>
                            <input asp-for="Email" readonly>
                        </div>
                        <div>
                            <input asp-for="Days" placeholder="Date" type="date" min="@DateTime.Now.Date">
                        </div>
                        <div>
                            <input asp-for="Reason" placeholder="Reason" type="text" class="input_message">
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn_on-hover">
                                Ban
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@if (Model.isSent == true)
{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>    
        function JSalert() {
            Swal.fire({
                position: 'center',
                backdrop: false,
                customClass: 'swal-contact',
                title: '<h5 class="swal-title"> Your messsage was sent! </h5>',
                showConfirmButton: false,
                timer: 2500
            })
        }
        JSalert();
    </script>
}