﻿@model SettingsViewModel
@{
    ViewData["Title"] = "Profile";
    Layout = "_AdminLayout";
}

<div class="container">
<div class="row">
        <div class="col-lg-4">
           <div class="profile-card-4 z-depth-3">
            <div class="card">
              <div class="card-body text-center bg-primary rounded-top">
               <div class="user-box">
                <img src="@Model.ProfilePictureLink" alt="user avatar">
              </div>
              <h5 class="mb-1 text-white">@Model.FirstName @Model.LastName</h5>
             </div>
              <div class="card-body">
                <ul class="list-group shadow-none">
                <li class="list-group-item">
                  <div class="list-icon">
                    <i class="fa fa-phone-square"></i>
                  </div>
                  <div class="list-details">
                    <span>@Model.PhoneNumber</span>
                    <small>Mobile Number</small>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="list-icon">
                    <i class="fa fa-envelope"></i>
                  </div>
                  <div class="list-details">
                    <span>@Model.Email</span>
                    <small>Email Address</small>
                  </div>
                </li>
                </ul>
                <div class="row text-center mt-4">
                  <div class="col p-2">
                   <h4 class="mb-1 line-height-5">@Model.Loans.Where(x => x.Status == GlobalConstants.LOAN_CONFIRMED).Count()</h4>
                    <small class="mb-0 font-weight-bold">Books taken</small>
                   </div>
                    <div class="col p-2">
                      <h4 class="mb-1 line-height-5">@Model.RegisteredAt.ToString("yyyy-mm-dd")</h4>
                     <small class="mb-0 font-weight-bold">Member since</small>
                    </div>
                    <div class="col p-2">
                     <h4 class="mb-1 line-height-5">@Model.Role</h4>
                     <small class="mb-0 font-weight-bold">Role</small>
                    </div>
                 </div>
               </div>
             </div>
           </div>
        </div>
        <div class="col-lg-8">
           <div class="card z-depth-3">
            <div class="card-body">
            <ul class="nav nav-pills nav-pills-primary nav-justified">
                <li class="nav-item">
                    <a data-target="#profile" data-toggle="pill" class="nav-link active show"><i class="icon-user"></i> <span class="hidden-xs">Profile</span></a>
                </li>
            </ul>
            <div class="tab-content p-3">
                <div class="tab-pane active show" id="profile">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="mt-2 mb-3"><span class="fa fa-clock-o ion-clock float-right"></span> Recent Loans</h5>
                            <table class="table table-hover table-striped">
                                <tbody>                                    
                                    @foreach (var item in Model.Loans.TakeLast(5))
                                        {
                                          <tr>
                                            <td>
                                                <a asp-controller = "Loan" asp-action="Details" asp-route-id="@item.Id">Loan number: @item.Id</a><strong>  @item.Book.Title with status: @item.Status</strong>
                                            </td>
                                         </tr>
                                        }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>       
    </div>
</div>

<style type="text/css">
/* User Cards */
.user-box {
    width: 110px;
    margin: auto;
    margin-bottom: 20px;
    
}

.user-box img {
    width: 100%;
    border-radius: 50%;
	padding: 3px;
	background: #fff;
	-webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.profile-card-3 .user-fullimage {
	position:relative;
}

.profile-card-3 .user-fullimage .details{
	position: absolute;
    bottom: 0;
    left: 0px;
	width:100%;
}

.profile-card-4 .user-box {
    width: 110px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 15px;
}

.profile-card-4 .list-icon {
    display: table-cell;
    font-size: 30px;
    padding-right: 20px;
    vertical-align: middle;
    color: #223035;
}

.profile-card-4 .list-details {
	display: table-cell;
	vertical-align: middle;
	font-weight: 600;
    color: #223035;
    font-size: 15px;
    line-height: 15px;
}

.profile-card-4 .list-details small{
	display: table-cell;
	vertical-align: middle;
	font-size: 12px;
	font-weight: 400;
    color: #808080;
}

.card .tab-content{
	padding: 1rem 0 0 0;
}

.z-depth-3 {
    -webkit-box-shadow: 0 11px 7px 0 rgba(0,0,0,0.19),0 13px 25px 0 rgba(0,0,0,0.3);
    box-shadow: 0 11px 7px 0 rgba(0,0,0,0.19),0 13px 25px 0 rgba(0,0,0,0.3);
}
</style>