﻿@model MailDTO
@{
    ViewData["Title"] = "Contact";
}

<section class="contact_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h3>
                            Contact Us
                        </h3>
                        <p>
                            It is a long established fact that a reader will be distracted
                            by the readable
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-form">
                    <h5>
                        Get In Touch
                    </h5>
                    <form asp-action="Contact" id="contact-form">
                        <div>
                            <input asp-for="Name" placeholder="Full Name">
                            <span asp-validation-for="Name" class="form-error"></span>
                        </div>
                        <div>
                            <input asp-for="Phone" placeholder="Phone Number">
                            <span asp-validation-for="Phone" class="form-error"></span>
                        </div>
                        <div>
                            <input asp-for="Reciever" placeholder="Your Email">
                            <span asp-validation-for="Reciever" class="form-error"></span>
                        </div>
                        <div>
                            <input type="text" asp-for="Subject" name="subject" placeholder="Your Subject">
                        </div>
                        <div>
                            <input asp-for="Message" placeholder="Your Message" type="text" class="input_message">
                            <span asp-validation-for="Message" class="form-error"></span>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn_on-hover">
                                Send
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function Clear(){
          var frm = document.getElementById("contact-form");
          frm.submit();
          frm.reset();
          return false;
     }
</script>
@if (Model.isSent)
{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function JSalert() {
            Swal.fire({
                position: 'center',
                backdrop: false,
                customClass: 'swal-contact',
                title: '<h5 class="swal-title"> Your messsage was sent! </h5>',
                showConfirmButton: false,
                timer: 2500
            })
        }
        JSalert();
        Clear();
    </script>
}
@section Scripts{
<partial name="_ValidationScriptsPartial" />
}
