﻿﻿
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<section class="login_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <h3>
                        GET BOOKS FOR FREE
                    </h3>
                    <p>
                        Create your free account now and get immediate access to 100s of
                        books
                    </p>
                    <a style="margin-left:10px;" asp-controller="Auth" asp-action="Login">Already have account?</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="login_form">
                    <h5>
                        Register Now
                    </h5>
                    <form asp-action="Register" >
                            <div>
                                <input asp-for="Username" placeholder="Username">
                                <span asp-validation-for="Username" class="form-error"></span>
                            </div>
                            <div>
                                <input asp-for="FirstName" placeholder="First Name">
                                <span asp-validation-for="FirstName" class="form-error"></span>
                            </div>
                            <div>
                                <input asp-for="LastName" placeholder="Last Name">
                                <span asp-validation-for="LastName" class="form-error"></span>
                            </div>
                            <div>
                                <input asp-for="Email" placeholder="Your Email">
                                <span asp-validation-for="Email" class="form-error"></span>
                            </div>
                            <div>
                                <input asp-for="Password" placeholder="Your Password">
                                <span asp-validation-for="Password" class="form-error"></span>
                            </div>
                            <div>
                                <input asp-for="ConfirmPassword" placeholder="Confirm Password">
                                <span asp-validation-for="ConfirmPassword" class="form-error"></span>
                            </div>
                            <div>
                                <input asp-for="PhoneNumber" placeholder="Your phone number">
                                <span asp-validation-for="PhoneNumber" class="form-error"></span>

                            </div>
                            <div class="form-group third-form">
                                <button type="submit" style="color:snow; font-weight:600" class="btn btn-primary tm-btn-submit">
                                    <span>Register</span>
                                </button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</section>

@if (ViewData.ContainsKey("MessageSent") && (bool)ViewData["MessageSent"] == true)
{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>

        function OpenWindow() {
            window.open("@GlobalConstants.Domain", "_self")
        }

        function JSalert() {
            Swal.fire({
                position: 'center',
                backdrop: false,
                customClass: 'swal-contact',
                title: '<h5 class="swal-title"> Confirmation email was sent to you, please check your inbox! </h5>',
                showConfirmButton: false,
                //timer: 5000
            }).then((result) => {
                OpenWindow();
            })

        }

        JSalert();

    </script>
}

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $('.second-form').hide();
        $('.third-form').hide();
        function ChangeFields() {
            $('.first-form').hide();
            $('.second-form').show();
        }
        function ChangeFieldsSecond() {
            $('.second-form').hide();
            $('.third-form').show();
        }
    </script>
}