﻿﻿
@model UpdatePasswordViewModel
@{
    ViewData["Title"] = "Forgot password";
}

<section class="login_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <h3>
                        GET BOOKS FOR FREE
                    </h3>
                    <p>
                        Create your free account now and get immediate access to 100s of
                        books
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="login_form">
                    <h5>
                        Forgot Password
                    </h5>
                        <form action=UpdatePassword method="post" class="contact-form-1 rwt-dynamic-form">
                            
                            <div class="form-group">
                                <input asp-for="Password" placeholder="New password">
                                <span asp-validation-for="Password" class="form-error"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="ConfirmPassword" placeholder="Confirm password">
                                <span asp-validation-for="ConfirmPassword" class="form-error"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn-default btn-large rn-btn"
                                        style="background-color: #FF3CAC; cursor: pointer;">
                                    <span>Update Password</span>
                                </button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</section>

@if (ViewData.ContainsKey("PasswordUpdated") && (bool)ViewData["PasswordUpdated"] == true)
{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>

        function OpenWindow() {
            window.open("@GlobalConstants.Domain", "_self")
        }

        function JSalert() {
            Swal.fire({
                position: 'center',
                backdrop: false,
                customClass: 'swal-contact',
                title: '<h5 class="swal-title"> Your password was updated! </h5>',
                showConfirmButton: false,
                timer: 2500
            }).then((result) => {
                OpenWindow();
            })

        }

        JSalert();
    </script>
}

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}