﻿@model List<DisplayLoanDTO>
@{
	ViewData["Title"] = "My loans";
}

<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
					    <thead class="thead-primary">
					      <tr>
					        <th>ID</th>
					        <th>BookName</th>
					        <th>DueTime</th>
					        <th>Status</th>
					        <th>Requester Name</th>
					        <th>Approver Name</th>
					      </tr>
					    </thead>
					    <tbody>
							@foreach(var item in Model)
							{
								<tr>
								  <th scope="row" class="scope" >@item.Id</th>
								  <td>@item.BookName</td>
								  <td>@item.DueDate</td>
								  <td>@item.Status</td>
								  <td>@item.RequesterName</td>
								  <td>@item.ApproverName</td>
								</tr>
							}
					    </tbody>
					  </table>
					  <div>
						<ul class="pagination">
						    @for (var i = 1; i <= (int)ViewData["TotalPages"] + 1; i++)
						    {
						        <li class="page-item @(i == (int)ViewData["CurrentPage"]? "active" : "")">
						            <a asp-route-currentpage="@i" class="page-link">@i</a>
						        </li>
						    }
						</ul>
					 </div>
					 </div>
				</div>
			</div>
		</div>
</section>